/*--------------------------------------------------------------
	Global Styles
--------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	overflow-x: hidden;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
	display: block;
}

body{
	width: 100%;
	height: auto;
	/* background-color: hsl(0, 0%, 95%); */
	background-color: #FFFFFF;
}

:root {
	--dark-green: #00312580;
	--light-green: #007565a4;
	--superlight-green: #a6fff249;
}

.center {
	text-align: center;
	vertical-align: middle;
}

.cursor {
	cursor: pointer;
}

/*--------------------------------------------------------------
	Main Area
--------------------------------------------------------------*/
.main-area {
	margin: 0 auto;
}

/*--------------------------------------------------------------
	Top Banner Styles
--------------------------------------------------------------*/

.top-banner-wrapper {
    position: relative;
    display: table;
    margin: auto;
    margin-top: 0;
	width: 100%;
	height: -webkit-calc(60vh);

    background-image: url(../files/images/banner_top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
	background-color: hsla(240, 8.4%, 62.7%, 100%);
    background-attachment: fixed;
}

.top-banner-text-wrapper {
    display: inline-block;
    width: auto;
    height: auto;
    position: absolute;
    left: 20%;
    top: 55%;
    transform: translate(-50%, -50%);

    /* border-style: solid; */
    /* border-radius: 10px; */
    /* border-color: #000000; */
    /* border-width: medium; */
}

.top-banner-text-wrapper h1 {
	width: fit-content;
    height: fit-content;
    color: white;
    font-size: 5vw;
	/* font-family: "FZShuTi"; */
	font-family: 'Ma Shan Zheng', cursive;
	/* background-color: hsla(250, 65%, 90%, 30%); */
}

.top-banner-text-wrapper h2 {
    width: fit-content;
    height: fit-content;
    color: white;
    font-size: 3vw;
    font-family: "Merienda";
	/* background-color: hsla(100, 65%, 90%, 30%); */
}

.top-banner-text-wrapper h3 {
    width: fit-content;
    height: fit-content;
    color: white;
    font-size: 1.5vw;
	font-family: "Merienda";
	text-align: left;
	/* background-color: hsla(150, 65%, 90%, 30%); */
}

.top-banner-text-wrapper h4 {
    width: fit-content;
    height: fit-content;
    color: white;
    font-size: 1vw;
	font-family: "Merienda";
	text-align: left;
	/* background-color: hsla(150, 65%, 90%, 30%); */
}

.top-banner-arrow {
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 30px;
	left: 50%;
	display: inline-block;
}

.top-banner-arrow:before,
.top-banner-arrow:after {
	background-color: #3C3C65;
	content: "";
	height: 2px;
	left: 50%;
	margin-left: -11px;
	margin-top: -1px;
	position: absolute;
	top: 50%;
	width: 22px;
}

.top-banner-arrow:before {
	-webkit-transform: translateX(-7px) rotate(45deg);
	-moz-transform: translateX(-7px) rotate(45deg);
	transform: translateX(-7px) rotate(45deg);
}

.top-banner-arrow:after {
	-webkit-transform: translateX(7px) rotate(-45deg);
	-moz-transform: translateX(7px) rotate(-45deg);
	transform: translateX(7px) rotate(-45deg);
}

/*--------------------------------------------------------------
	Projects Container Styles
--------------------------------------------------------------*/
.projects-container {
	margin: 0 auto;
	max-width: 80%;
	height: 100vh;
	padding-top: 5%;
	display: inline-block;
}

.projects-container h1 {
	font-family: "Merienda";
    font-size: 35px;
	text-align: center;
}

.projects-container h2 {
	margin-bottom: 2%;
	/* font-family: "FZShuTi"; */
	font-family: 'Ma Shan Zheng', cursive;
    font-size: 25px;
	text-align: center;
}
  
.projects-container ul li {
	margin: 2%;
	width: 20%;
	list-style: none;
	display: inline-block;
	background-color: #FFFFFF;
	/* border: 5px solid #FFFFFF;
	border-radius: 10px; */
	float: left;
}

.demo-img {
	margin: 0;
	width: 100%;
	height: 100%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	vertical-align: middle;
	position: relative;

	border-radius: 50%;
	border: 5px solid var(--dark-green);

	background-repeat: no-repeat;
	background-size: cover;

	overflow: hidden;
}

.demo-img:after {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: var(--dark-green);
	display: none;
}

.demo-img:hover:after {
	display: block;
	cursor: pointer;
}

.demo-img p {
	font-family: "FZShuTi";
	font-size: 20px;
	color: #FFFFFF;
	visibility: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.demo-img:hover p {
	visibility: visible;
	z-index: 2;
	cursor: pointer;
}

/*--------------------------------------------------------------
Modal box styles
--------------------------------------------------------------*/
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
	background-color: #FEFEFE;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 8%;
	padding-right: 8%;
	border: 1px solid #888;
	width: 70%;
}

.modal-content h1 {
	font-family: "Merienda";
    font-size: 2.5vw;
	/* background-image: linear-gradient(to right, rgba(92, 192, 255, 0.4) , white); */
}

.modal-content h2 {
	font-family: "Merienda";
    font-size: 1.5vw;
	/* background-image: linear-gradient(to right, rgba(92, 192, 255, 0.4) , white); */
}

.modal-content h3 {
	font-family: "Merienda";
    font-size: 1vw;
}

.modal-content p {
	font-family: "Merienda";
    font-size: 0.9vw;
}

.modal-nav {
	display: block;
	text-align: center;
}

.modal-nav button {
	margin: 2%;
	background-color: var(--light-green); /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: "Merienda";
	font-size: 16px;
}

.modal-nav button:hover {
	cursor: pointer;
}

.heading {
	border-top: 2px solid var(--light-green);
	border-bottom: 2px solid var(--light-green);
	text-align: center;
}

.sub-heading {
	padding-top: 2%;
	padding-bottom: 2%;
	text-decoration: underline;
	text-decoration-color: var(--light-green);
}

/* The close Button */
.close {
	color: #AAAAAA;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* Gallery */
/* Position the gallery */
.gallery {
	position: relative;
	margin-top: 3%;
}

/* Hide the slides by default */
.slides {
	display: none;
	background-color: var(--superlight-green);
}

.slide-image {
	display: block;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1%;
	padding-bottom: 1%;
}

.slide-video {
	display: block;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1%;
	padding-bottom: 1%;
}

/* Next & Prev buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: black;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the Next button to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see through */
.prev:hover,
.next:hover {
	background-color:var(--dark-green);
}

/* Number text */
.number-text {
	color:black;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* Container for caption */
.caption-container {
	text-align: center;
	background-color: var(--superlight-green);
	padding: 2px 16px;
	color: black;
	border-bottom: 5px solid var(--dark-green);
}

.row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: var(--superlight-green);
	border-bottom: 5px solid var(--dark-green);
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

/* 4 Images */
.column-ece498 {
	position: relative;
	float: left;
	margin-left: 0.5%;
	margin-right: 0.5%;
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 0.5%;
	width: 20%;
}

/* 1 Image, 4 videos */
.column-me495 {
	position: relative;
	float: left;
	margin-left: 0.5%;
	margin-right: 0.5%;
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 0.5%;
	width: 15%;
}

/* Add a transparency effect for thumbnail images */
.gallery-demo {
	opacity: 0.6;
}

.active,
.gallery-demo:hover {
	opacity: 1;
}

.demo-poster {
	z-index: 1;
}

.demo-cover {
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.8;
	position: absolute;
	z-index: 2;
}

.demo-caption {
	display: none;
}

/*--------------------------------------------------------------
Footer styles
--------------------------------------------------------------*/
.footer {
	margin: 0 auto;
	padding: 3em 3em 0;
	background: hsl(0, 0%, 10%);
	color: #FFFCED;
	text-align: center;
}

.footer ul li {
	max-width: 25em;
	float: left;
}

.footer-widgets h4 {
	margin-bottom: 5%;
	font-family: "Merienda";
  font-size: 1.5em;
}

.footer-widgets a {
  display: block;
  margin-top: 1em;
	margin-left: 10%;
	margin-right: 10%;
  padding: 0 .5em;
  font-size: 1.5em;
  font-weight: 900;
  color: #FFFCED;
  text-align: center;
  text-decoration: none;
  border: 5px solid #FFFCED;
	border-radius: 10px;
}

.footer-widgets a:hover {
  background: #B51C35;
  cursor: pointer;
}

.footer-widgets textarea {
	width: 75%;
	height: 50%;
	padding: 12px 20px;
	border: 5px solid #FFFCED;
	border-radius: 10px;
	background-color: hsl(0, 0%, 10%);
	color: #FFFCED;
	resize: none;
	outline: none;
}

.footer-widgets textarea:focus {
	border: 5px solid #B51C35;
}

@media screen and (min-width: 50em) {
  .footer-widgets {
		margin: auto;
		max-width: 75%;
    display: flex;
    justify-content: space-between;
  }

  .widget {
    width: 25%;
  }
}

/*--------------------------------------------------------------
Social navigation Bar
--------------------------------------------------------------*/
.social-nav {
  margin: 4em -3em 0;
  padding: 30px;
  /* background: #B51C35; */
  background: var(--light-green);
}

.social-nav ul {
  -js-display: flex;
  display: inline-block;
  justify-content: center;
	margin-top: 20px;
	list-style: none;
  list-style-type: none;
}

.social-nav a {
	padding: 16px;
	margin-left: 10px;
	margin-right: 10px;
}

.icon-github {
	background-image: url('../images/icons/GitHub_Mark_Light_32px.png');
	background-repeat: no-repeat;
}

.icon-linkedin {
	background-image: url('../images/icons/LinkedIn_32px.png');
	background-repeat: no-repeat;
}

.icon-facebook {
	/* width: 32px; */
	background-image: url('../images/icons/Facebook_Light_32px.png');
	background-repeat: no-repeat;
}